@{
    ViewBag.Title = "PetCenter";
}

<div class="jumbotron">
    <h1>Pet Center</h1>
    <p class="lead">Sistema de gestión para empresas del rubro de veterinarias.</p>
</div>

<div class="row">

</div>