@{
    ViewBag.Title = "Subir Archivo";
}

<html>
<body>
  
    <h2>Subir Archivo</h2>

    <h2 class="text-danger">@ViewBag.Error</h2>
    <h2 class="text-success">@ViewBag.Correcto</h2>
   
</body>
</html>
